body{
    background-color:lightgrey;;
}

ul li{
    background-color: white;
}

ul li a{
    color: black;
}

ul li a:active {
    background-color: #FF7020;
}

.btn{
    color:black;
    background-color: white;
}

.btn:hover{
    background-color: #FF7020;
}